body {
	height: 100vh;
	width: 100%;
	margin: 0;
	padding: 0;
}
#map {
	position:relative;
	height: 100%;
	max-width: 100%;
}
#searchList
{
	position: relative;
	max-width:100%;
	height: 50%;
}
li:hover{
	color:#ff0000;
}
#streetView{
	position: relative;
	max-width:100%;
	height: 50%;
}

